<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index/welcome.css">
</head>
<body>
    <main>
        <section>
            <h1><img src="/static/images/tux.png">¡Bienvenido!<img src="/static/images/laptop.png"></h1>
            <button onclick="pywebview.api.view_api.login_view()">Iniciar Sesión</button>
            <button onclick="pywebview.api.view_api.register_view()">Registrarse</button>
        </section>
    </main>
</body>
</html>