<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/users/login.css">
    <script src="/static/js/users/login.js"></script>
</head>
<body>
    <main class="main-container">
        <section class="form-container">
            <form class="form">
                <h2 class="title-login">Iniciar sesión</h2>
                <span>Email</span>
                <input class="email" type="text">
                <span>Contraseña</span>
                <input class="password" type="password">
                <button onclick="handleFormAction(event,'login')">Ingresar</button>
                <span class="msg" style="display: none;"></span>
                <h2 class="title-register">¿No tenes una cuenta?</h2>
                <button onclick="handleFormAction(event,'register')">Registrarse</button>
            </form>
        </section>
    </main>
</body>
</html>