<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/users/user-modify.css">
    <script src="/static/js/users/user-modify.js"></script>
</head>
<body>
    <header class="header-container">
        <img class="logo" src="/static/images/logo.png" alt="">
        <div class="index">
            <button onclick="handleHeaderAction('main')">INICIO</button>
            <button onclick="handleHeaderAction('manageProducts')">ADMINISTRAR PRODUCTOS</button>
            <button onclick="handleHeaderAction('createProduct')">CREAR PRODUCTO</button>
            <button onclick="handleHeaderAction('manageUsers')">ADMINISTRAR USUARIOS</button>
            <button onclick="handleHeaderAction('createUser')">CREAR USUARIO</button>
            <button onclick="handleHeaderAction('logOut')">CERRAR SESIÓN</button>
        </div>
    </header>
    <main class="main-container">
        <section class="form-container">
            <form class="form">
                <h2 class="title-modify">Modificar información</h2>
                <span>Nombre</span>
                <input class="first-name" type="text">
                <span>Appellido</span>
                <input class="last-name" type="text">
                <span>Email</span>
                <input class="email" type="text">
                <span>Contraseña</span>
                <input class="password" type="text">
                <button class="form-button-1" onclick="handleUserAction('modify')">Modificar</button>
                <span class="msg" style="display: none;"></span>
                <h2 class="title-delete">¿Deseas eliminar el usuario?</h2>
                <button class="form-button-2" onclick="handleUserAction('delete')">Eliminar</button>
            </form>
        </section>
    </main>   
</body>
</html>